@import "tailwindcss";

@keyframes permanentRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.aim-rotate {
  animation: permanentRotate 5s linear infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  transition: background-color 0.25s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #bed3ff;
}

.ProseMirror {
  max-width: 100%;
  overflow-x: auto;
}

.ProseMirror {
  word-break: break-word;
  overflow-wrap: break-word;
}

.ProseMirror:focus {
  outline: none !important;
}

.ProseMirror {
  outline: none !important;
  box-shadow: none !important;
}

html {
  --title-font-family: 'Helvetica', sans-serif;
}

.ProseMirror table {
  table-layout: fixed;
  width: 100%;
}