@import "tailwindcss";

@keyframes zoomIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoomIn {
  animation: zoomIn 0.25s ease-in forwards;
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@keyframes permanentRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.aim-rotate {
  animation: permanentRotate 5s linear infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  transition: background-color 0.25s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.ProseMirror {
  max-width: 100%;
  overflow-x: auto;
}

.ProseMirror {
  word-break: break-word;
  overflow-wrap: break-word;
}

.ProseMirror:focus {
  outline: none !important;
}

.ProseMirror {
  outline: none !important;
  box-shadow: none !important;
}

html {
  --title-font-family: "Helvetica", sans-serif;
}

.ProseMirror table {
  table-layout: fixed;
  width: 100%;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-120%);
    opacity: 0;
  }
}

.animate-slideOut {
  animation: slideOutLeft 0.3s ease-in forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-120%); /* nằm ngoài màn hình bên trái */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideInLeft 0.35s ease-out;
}
